test/vinit.mat
*~
*.jld
*.jld2
*.fea
*.gmm
.ipynb_checkpoints/Untitled0-checkpoint.ipynb
LOG.txt
test/ubm.mat
test/train.list
fea.list
list
one
test/eigenchannels.list
test/eigenvoices.list
test/features
test/gendatda.jl
test/jfacookbook.jl
test/models
test/speed.jl
test/test.list
*.ipynb
Manifest.toml
